[data-dropzone] {
    padding: 30px 30px 0;
    background-color: #fefefe;
    border: 1px dashed #ddd;
}
/* Media Library */
.attachments {

    > .attachment {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        margin-bottom: 30px;

        > .attachment-inner {
            display: block;
            width: 100%;
            height: 100%;
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            border: 5px solid transparent;

            > .attachment-action {
                text-align: center;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, .5);

                > .btn + .btn {
                    margin-left: 15px;
                }
            }

            &:hover > .attachment-action {
                opacity: 1;
            }
        }

        &.selected .attachment-inner {
            border-color: $color__blue;
        }

        @include screen-max-xs {
            height: 135px;

            .attachment-action {
                padding-top: 53px;
            }
        }

        @include screen-xs {
            height: 235px;

            .attachment-action {
                padding-top: 103px;
            }
        }

        @include screen-sm {
            height: 137px;

            > .attachment-inner {
                > .attachment-action {
                    @include transition(opacity 0.1s ease-in-out);
                    @include opacity(0);
                    padding-top: 53px;
                }

                &:hover > .attachment-action {
                    @include opacity(1);
                }
            }

        }

        @include screen-md {
            height: 180px;

            .attachment-action {
                padding-top: 73px;
            }
        }

        @include screen-lg {
            height: 127px;

            .attachment-action {
                padding-top: 53px;
            }
        }
    }
}
