// --------------------------------------------------------------
// Typography
// --------------------------------------------------------------
body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__base;
}

// --------------------------------------------------------------
// Headings
// --------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 { font-family: $font__ruda; }

// --------------------------------------------------------------
// Copy.
// --------------------------------------------------------------
p { margin: 0; }
p + p { margin-top: $gutters; }

// --------------------------------------------------------------
// Elements.
// --------------------------------------------------------------
html { @include box-sizing(border-box); }

// Fallback for when there is no custom background color defined.
body { background: $color__background-body; }

// Make embed elements take 100% of parent's width.
embed,
object,
iframe { max-width: 100%; }

// Make images responsive by default.
img { max-width: 100%; height: auto; }

// --------------------------------------------------------------
// Base styling.
// --------------------------------------------------------------
html,
body { height: 100%; }
body {
    background-color: $color__background-body;
    color: $color__text-main;
    font-family: $font__base;
    line-height: $font__line-height-body;
    padding-top: ($header__height + $gutters);
    position: relative;
}

@each $side in left, right, auto, none {
	.float-#{$side} {float: $side;}
}
