# Ignore unnecessary folders.
.DS_Store
.phpintel

# Ignore cache files.
src/application/cache/*
!src/application/cache/*/.gitkeep
!src/application/cache/*/.htaccess

# Ignore log files.
src/application/logs/*
!src/application/logs/.gitkeep
!src/application/logs/.htaccess

# Remove generated encryption key file.
src/application/config/encryption_key.php
src/application/config/*/encryption_key.php

# keep all .htaccess and .gitkeep
!**/.htaccess
!**/.gitkeep

# Ignore all captcha images.
public/content/captcha/*
!public/content/captcha/.index.html
public/content/cache-assets/*

# Ignore all uploaded files.
public/content/uploads/*
!public/content/uploads/index.html
!public/content/uploads/temp/*

# Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
