# If the Skeleton is installed within a folder,
# i.e www.example.com/skeleton/ then the robots.txt
# file MUST be moved to the site root:
# i.e: www.example.com/robots.txt
# AND the Skeleton folder name MUST be prefixed to all
# of the paths:
# i.e: Disallow rule for the /application/ folder MUST be
# change to:
# Disallow: /skeleton/application/
#
# For more information about the robots.txt standard, see:
# http://www.robotstxt.org/orig.html
#
# For syntax checking, see:
# http://tool.motoricerca.info/robots-checker.phtml

User-agent: *
Disallow: /application/
Disallow: /install/
Disallow: /skeleton/
