// Font size wit REM.

@mixin font-size($size, $base: 16) {
	font-size: #{$size}px; // Fall-back for old browsers.
	font-size: ($size / 16) * 1rem;
}

// Line height
@mixin line-height($size, $base: 16) {
    line-height: #{$size}px; // Fall-back for old browsers.
    line-height: ($size / 16) * 1rem;
}
