// Keyframes - Create animation.

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin animation($value) {
	-webkit-animation: #{$value};
	-moz-animation: #{$value};
	-ms-animation: #{$value};
	-o-animation: #{$value};
	animation: #{$value};
}
