/*!
 * Skeleton Dashboard Style (RTL) v1.0.0
 * Copyright 2017-present Kader Bouyakoub.
 */

@import "_variables.scss";

body {
    font-family: 'Droid Arabic Kufi', Tahoma, sans-serif;
    font-weight: normal;
}

.form-control,
input,
textarea {
    font-family: 'Droid Arabic Kufi', sans-serif;
}


.logo {
    margin-left: 6px;
    margin-right: 0;
}

.navbar-fixed-top {
    @media screen and (min-width: $break-small) {
        /* Navbar header */
        .navbar-header {
            margin-left: 0;
            margin-right: -15px;

            .navbar-brand {
                margin-right: 0;
            }
        }
    }
}

.sidebar {
    @media (min-width: 768px) {
        right       : 0;
        left        : auto;
        border-right: none;
        border-left : 1px solid #ddd;
    }

    /* Sidebar navigation */
    .nav-sidebar {
        margin-right: -21px; /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;

        > li {
            > a {
                padding-right: 20px;
                padding-left: 20px;
            }
        }
    }
}


.user-menu {
    border-right: 1px solid #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.1);

    img {
        margin-left: 12px;
        margin-top: -2px;
    }
}

.status {
    font-family: 'Droid Arabic Kufi', sans-serif;
}
