// App Buttons.
.btn-app {
    @include border-radius(0 !important);
    position: relative;
    // padding: 15px 5px;
    // margin: 0 0 10px 10px;
    min-width: 80px;

    > .fa,
    > .glyphicon {
        margin: 0 auto;
        font-size: 20px;
        display: block;
    }

    > .badge {
        @include absolute(top -3px right -10px);
        font-size: 0.835em;
        font-weight: 400;
    }
}
.btn-group > .btn-app > .badge {top: 0; right: 0;}
.btn-app + .btn-app,
.btn-group + .btn-app,
.btn-app + .btn-group {margin-left: 10px;}

.btn-group-xs > .btn,
.btn-xs {
    @include font-size(11);
    @include border-radius(3px);
    padding: 3px 5px;
    line-height: 1.5;
}

.form-control-sm, .btn-sm {
    font-size: 12px;
    vertical-align: top;
}

.btn-icon {
    overflow: hidden;
    padding-left: 48px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    > [class^="fa"] {
        @include absolute(top 0 left 0 bottom 0);
        width: 36px;
        line-height: 34px;
        font-size: inherit;
        text-align: center;
        border-right: 1px solid transparent;
    }

    &.btn-xs {
        padding-left: 29px;

        > [class^="fa"] {
            width: 24px;
            line-height: 22px;
        }
    }
    &.btn-sm {
        padding-left: 36px;

        > [class^="fa"] {
            width: 28px;
            line-height: 28px;
        }
    }
    
    &.btn-lg {
        padding-left: 64px;
        > [class^="fa"] {
            line-height: 48px;
            width: 48px;
        }
    }
}


select.form-control-sm:not([size]):not([multiple]),
.input-group-sm > select.form-control:not([size]):not([multiple]),
.input-group-sm > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
.input-group-sm > .input-group-append > select.input-group-text:not([size]):not([multiple]),
.input-group-sm > .input-group-prepend > select.btn:not([size]):not([multiple]),
.input-group-sm > .input-group-append > select.btn:not([size]):not([multiple]) { height: auto }
