// App Buttons.
.btn-app {
    @include border-radius(0 !important);
    position: relative;
    // padding: 15px 5px;
    // margin: 0 0 10px 10px;
    min-width: 80px;

    > .fa,
    > .glyphicon {
        margin: 0 auto;
        font-size: 20px;
        display: block;
    }

    > .badge {
        @include absolute(top -3px right -10px);
        font-size: 0.835em;
        font-weight: 400;
    }
}
.btn-group > .btn-app > .badge {top: 0; right: 0;}
.btn-app + .btn-app,
.btn-group + .btn-app,
.btn-app + .btn-group {margin-left: 10px;}

.btn-group-xs > .btn,
.btn-xs {
    @include font-size(11);
    @include border-radius(3px);
    padding: 3px 5px;
    line-height: 1.5;
}

.form-control-sm, .btn-sm {
    font-size: 12px;
    vertical-align: top;
}

.btn-icon {
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    line-height: initial;

    > [class^="fa"] {
        @include border-radius(4px 0 0 4px);
        border-right: 1px solid transparent;
        font-size: inherit;
        line-height: 34px;
        margin: 0 12px 0 -12px;
        text-align: center;
        width: 36px;
    }

    &.btn-xs > [class^="fa"] {
        @include border-radius(3px 0 0 3px);
        line-height: 22px;
        margin-left: -5px;
        margin-right: 5px;
        width: 24px;
    }
    &.btn-sm > [class^="fa"] {
        @include border-radius(3.2px 0 0 3.2px);
        line-height: 28px;
        margin-left: -8px;
        margin-right: 8px;
        width: 28px;
    }
    &.btn-lg > [class^="fa"] {
        @include border-radius(4.8px 0 0 4.8px);
        line-height: 48px;
        margin-left: -16px;
        margin-right: 16px;
        width: 48px;
    }
}


select.form-control-sm:not([size]):not([multiple]),
.input-group-sm > select.form-control:not([size]):not([multiple]),
.input-group-sm > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
.input-group-sm > .input-group-append > select.input-group-text:not([size]):not([multiple]),
.input-group-sm > .input-group-prepend > select.btn:not([size]):not([multiple]),
.input-group-sm > .input-group-append > select.btn:not([size]):not([multiple]) { height: auto }
