table {

    // Align checkboxes.
    th > input[type="checkbox"],
    td > input[type="checkbox"] { vertical-align: middle; }

    &.table-striped {
        border-bottom: 1px solid #dee2e6;

        thead tr:nth-of-type(odd),
        tbody tr:nth-of-type(even) { background-color: $color__white;}
        
        tbody tr:nth-of-type(even):hover { background-color: rgba(#000, 0.075); }
        
        tr {
            border-left: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;

            // Selected rows.
            &.selected {
                border-color: $color__blue;
            }
        }
    }

}

.tab-content .table-striped {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    thead th { border-top: none; }
}

.table-bulk-actions {
    display: inline-block;
    overflow: hidden;
    padding: 2px 8px 5px 0;
}
