table {

    // Align checkboxes.
    th > input[type="checkbox"],
    td > input[type="checkbox"] { vertical-align: middle; }

    &.table-striped {
        tr {
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;

            // Selected rows.
            &.selected {
                border-color: $color__blue;
            }
        }
    }

}

.tab-content .table-striped {
    border-left: none;
    border-right: none;
    thead th { border-top: none; }
}

.table-bulk-actions {
    display: inline-block;
    overflow: hidden;
    padding: 2px 8px 5px 0;
}
